@using Microsoft.AspNetCore.Components.Web
@namespace Taaruf.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Taaruf - tempat berbagi informasi bermanfaat">
    <meta name="author" content="Fadhil">
    <meta charset="utf-8" />
    <title>Taaruf - Tempat cari kerja dan posting kerjaan yang berkah</title>
    <meta name="keywords" content="kerjaan, job seeker, freelance, lowongan, berbagi informasi" />

    <!-- site favicon -->
    <link rel="icon" type="image/png" href="assets/images/favicon.png">

    <base href="~/" />

    <link href="_content/Blazored.Toast/blazored-toast.css" rel="stylesheet" />
    <link href="/manifest.json" rel="manifest" />
    <link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css" />
    <link href="_content/Blazored.Typeahead/blazored-typeahead.css" rel="stylesheet" />

    
    <!-- Place favicon.ico in the root directory -->
    <!-- All stylesheet and icons css  -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/swiper.min.css">
    <link rel="stylesheet" href="assets/css/lightcase.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />



   
</head>
<body>

    @RenderBody()
    <!-- All Needed JS -->
	<script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
	<script src="assets/js/vendor/modernizr-3.11.2.min.js"></script>
	<script src="assets/js/isotope.pkgd.min.js"></script>
	<script src="assets/js/swiper.min.js"></script>
	<!-- <script src="assets/js/all.min.js"></script> -->
	<script src="assets/js/wow.js"></script>
	<script src="assets/js/lightcase.js"></script>
	<script src="assets/js/jquery.countdown.min.js"></script>
	<script src="assets/js/waypoints.min.js"></script>
	<script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
	<script src="assets/js/plugins.js"></script>
	<script src="assets/js/main.js"></script>


	<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
	<script>
		window.ga = function () {
			ga.q.push(arguments)
		};
		ga.q = [];
		ga.l = +new Date;
		ga('create', 'UA-XXXXX-Y', 'auto');
		ga('set', 'anonymizeIp', true);
		ga('set', 'transport', 'beacon');
		ga('send', 'pageview')
	</script>
	<script src="https://www.google-analytics.com/analytics.js" async></script>

    <script type="module" src="js/webcam.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js" integrity="sha512-s/XK4vYVXTGeUSv4bRPOuxSDmDlTedEpMEcAQk0t/FMd9V6ft8iXdwSBxV0eD60c6w/tjotSlKu9J2AAW1ckTA==" crossorigin="anonymous"></script>
    <script type="module" src="js/capture.js"></script>

    <script src="js/downloadfile.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script src="_content/Blazored.Typeahead/blazored-typeahead.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

    <!-- This is the glue between Blazor and Chart.js -->
    <script src="_content/ChartJs.Blazor.Fork/ChartJsBlazorInterop.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpqcgMnKf1TnQPRQKNmlnUgqh_EI0t_Iw&v=3"></script>
    <script src="_content/BlazorGoogleMaps/objectManager.js"></script>
    <script src="js/custom.js"></script>
    <!-- Page level custom scripts -->

    <script>
        function OpenFileUpload(uploadid) {

            $('#' + uploadid + ':hidden').trigger('click');
        }
        function OpenUrl(url) {
            window.location = url;
        }
        function ShowModal(modalId) {
            $('#' + modalId).modal('show');
        }
        function CloseModal(modalId) {
            $('#' + modalId).modal('hide');
        }
        function ShowInfo(message) {
            alert(message);
        }
        //for grid pager
        function fixGridView(tableEl) {
            var jTbl = $(tableEl);

            if (jTbl.find("tbody>tr>th").length > 0) {
                jTbl.find("tbody").before("<thead><tr></tr></thead>");
                jTbl.find("thead tr").append(jTbl.find("th"));
                jTbl.find("tbody tr:first").remove();
            }
        }
        function applyPager(tableName) {

            var tab = $("#" + tableName);
            if (tab) {
                $('#' + tableName).DataTable();
            }
        }
        function TestDataTablesAdd(table) {
            $(document).ready(function () {
                $(table).DataTable();
            });
        }

        function TestDataTablesRemove(table) {
            $(document).ready(function () {
                $(table).DataTable().destroy();
            });
        }

        function FreezeTableHeader(table) {
            $(".table_container").scroll(function () {
                var topPosition = $(".table_container").scrollTop();
                $(table + " thead tr th").css({ "top": (topPosition) });
            });
        }
        //gps location
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.watchPosition(showPosition);
                return "Success";
            } else {
                return "Geolocation is not supported by this browser.";
            }
        }
        function showPosition(position) {
            console.log("Latitude: " + position.coords.latitude +
                ", Longitude: " + position.coords.longitude);
            DotNet.invokeMethodAsync('Taaruf', 'UpdateLocationCaller', position.coords.latitude, position.coords.longitude);
        }
    </script>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
